<div class="card">
    <div class="card-header">
        Editar Empleado
        <button type="button" class=" btn btn-danger" style="float:right; align-items: flex-end;" (click)="cerrar()"><i
                class="fas fa-long-arrow-alt-left"></i>
        </button>
    </div>
    <div class="dos">
        <button style="margin-left: 2%; margin-bottom: 2%;" type="button" class=" btn btn-success"><i class="fas fa-save" type="button"></i></button>
        <button style="margin-left: 2%; margin-bottom: 2%;" type="button" class=" btn btn-danger" (click)="cerrar()"><i
                class="fas fa-long-arrow-alt-left"></i></button>

    </div>
</div>
