<div class="caja-principal">
    <h1><strong>CATEGORIA DE PRODUCTOS</strong></h1>
    <div class="caja-contenido">
        <div class="nav-busqueda">
            <mat-form-field appearance="standard">
              <div class="barra-busqueda">
                <mat-icon>search</mat-icon>
                <input matInput (keyup)="($event)" placeholder="Buscar" #input>
              </div>
            </mat-form-field>
        </div>

        <div class="mat-elevation-z8" style="margin-left: 50px;width: 92%;">
          <table mat-table [dataSource]="dataSource" class="table-responsive" matSort>
           
            
            <ng-container matColumnDef="nombreCate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="nombreCate" class="nombreCate">NOMBRE DE CATEGORIA</th>
              <td mat-cell *matCellDef="let row" class="nombreCate">
                {{row.nombreCate}}
              </td>
            </ng-container>
      
            <ng-container matColumnDef="acciones" class="acciones">
              <th style="padding-left:2.5%;" mat-header-cell *matHeaderCellDef class="botones"> Acciones </th>
              <td mat-cell *matCellDef="let row" class="botones">
                <button
                  style="height: 25px; position: static;background: transparent;border: none;padding-top: 2.2%;vertical-align: text-top;">
                  <mat-icon style="color: black;margin-top: 20%;">edit</mat-icon>
                </button>
                <button class="consultar"
                  style="height: 25px; position: static;background: transparent;border: none;padding-top: 2.2%;padding-left: 10%;vertical-align: text-top;">
                  <mat-icon style="color: #3f51b5;margin-top: 20%;">visibility</mat-icon>
                </button>
                <button
                  style="height: 25px;position: static;color: red;border: none;background: transparent;padding-top: 2.2%;padding-left: 10%;vertical-align: text-top;">
                  <mat-icon style="margin-top: 20%">delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="header-table"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No se encontraron resultados para "{{input.value}}"</td>
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[14,16,18,22]" aria-label="Select page of users"></mat-paginator>
        </div>


          <div class="caja-registro">
            <div class="campo-secundario">
                <mat-form-field style="width: 30%;margin-left: 6.5%;">
                  <mat-label>Nombre de Categoría</mat-label >
                  <input type="text" matInput formControlName="categoria" >
                </mat-form-field>                   
              </div>
              <div class="campo-botones">
                <div class="dos" >
                  <button   class=" btn btn-success" id="boton-add">
                   Registrar Categoría
                  </button>
                  <button mat-fab button="submit"  style="float: right ; margin-top:0px;background-color: darkorchid;"
                    id="boton-agregar">
                      <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>
          </div>
    </div>
    <button type="button" class=" btn btn-danger" id="boton-regresar" routerLink="/home"><i class="fas fa-long-arrow-alt-left"></i></button>
  </div>
