<div class="card">
    <div class="card-header">
        INFORMACIÓN DEL EMPLEADO
        <button type="button" class=" btn btn-danger" style="float:right; align-items: flex-end;" (click)="cerrar()"><i
                class="fas fa-long-arrow-alt-left"></i>
        </button>
    </div>
    <form [formGroup]="consultarForm">
        <div class="card-body" style="margin: auto; width: 100%">
            <div class="horizontal1" style="width: auto; display: flex; flex-direction: row;">
                <div class="col-lg-10_select_caja1" style="margin-left: 25px;">
                    <mat-form-field  style="width: 120px;" appearance="standard" class="search">
                        <mat-label>Código</mat-label >
                        <input formControlName="idEmpleado" placeholder="Codigo Empleado" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="horizontal1" style="width: auto; display: flex; flex-direction: row;">
                <div class="col-lg-10_select_caja1" style="margin-left: 25px;">
                    <div>
                    <mat-form-field style="width: 250px;" appearance="standard" class="search">
                        <mat-label>DNI</mat-label >
                        <input type="text" formControlName="dniEml" placeholder="DNI"
                        matInput>
                    </mat-form-field>
                </div>
                </div>
            </div>
            <div class="horizontal1" style="width: auto; display: flex; flex-direction: row;">
                <div class="col-lg-10_select_caja1" style="margin-left: 25px;">
                    <div>
                    <div class="campo-checkbox">
                        <mat-checkbox formControlName="estadoEmpl">Estado del empleado</mat-checkbox>
                    </div>
                </div>
                </div>
            </div>
            <div class="horizontal1" style="width: auto; display: flex; flex-direction: row;">
                <div class="col-lg-10_select_caja1" style="margin-left: 25px;">
                    <div>
                    <mat-form-field style="width: 250px;" appearance="standard" class="search">
                        <mat-label>Nombre del Empleado</mat-label >
                        <input type="text" formControlName="nombresEml" placeholder="Nombre del Empleado"
                        matInput>
                    </mat-form-field>
                </div>
                </div>
            </div>
            <div class="horizontal1" style="width: auto; display: flex; flex-direction: row;">
                <div class="col-lg-10_select_caja1" style="margin-left: 25px;">
                    <div>
                    <mat-form-field style="width: 250px;" appearance="standard" class="search">
                        <mat-label>Apellidos del Empleado</mat-label >
                        <input type="text" formControlName="apellidosEmpl" placeholder="Apellidos del Empleado"
                        matInput>
                    </mat-form-field>
                </div>
                </div>
            </div>
            <div class="horizontal1" style="width: auto; display: flex; flex-direction: row;">
                <div class="col-lg-10_select_caja1" style="margin-left: 25px;">
                    <div>
                    <mat-form-field style="width: 250px;" appearance="standard" class="search">
                        <mat-label>Correo</mat-label >
                        <input type="text" formControlName="correoEmpl" placeholder="Correo"
                        matInput>
                    </mat-form-field>
                </div>
                </div>
            </div>
            <div class="horizontal1" style="width: auto; display: flex; flex-direction: row;">
                <div class="col-lg-10_select_caja1" style="margin-left: 25px;">
                    <div>
                    <mat-form-field style="width: 250px;" appearance="standard" class="search">
                        <mat-label>Password</mat-label >
                        <input type="text" formControlName="passwordEmpl" placeholder="Password"
                        matInput>
                    </mat-form-field>
                </div>
                </div>
            </div>
            <div class="horizontal1" style="width: auto; display: flex; flex-direction: row;">
                <div class="col-lg-10_select_caja1" style="margin-left: 25px;">
                    <div>
                    <mat-form-field style="width: 250px;" appearance="standard" class="search">
                        <mat-label>Cargo</mat-label >
                        <input type="text" formControlName="rolEmpl" placeholder="Cargo"
                        matInput>
                    </mat-form-field>
                </div>
                </div>
            </div>
        </div>
</form>
</div>
