<div class="caja-principal">
  <h1><strong>Configuracion de Empleado</strong></h1>
  <div class="caja-contenido">
    <div class="nav-busqueda">
      <mat-form-field style="width:100%" appearance="standard">
        <div class="barra-busqueda">
          <mat-icon>search</mat-icon>
          <input matInput placeholder="Buscar" #input>
        </div>
      </mat-form-field>
    </div>
  </div>
  <p>Campos de Empleados crear</p>
  <p>nombres</p>
  <p>apellidos</p>
  <p>documento de indentidad</p>
  <p>numero</p>
  <p>E-mail</p>
  <p>Password</p>
  <p>Rol</p>
  <p>Estado</p>
  -------------------------------
  <p>Tabla de Empleados</p>
  <p>id</p>
  <p>nombres</p>
  <p>apellidos</p>
  <p>email</p>
  <p>estado</p>
  <p>rol</p>
  <p>acciones</p>
  <p>editar</p>
  <p>eliminar</p>
--------------------------------
<p>Campos de Empleados Modificar</p>
<p>nombres</p>
<p>apellidos</p>
<p>documento de indentidad</p>
<p>numero</p>
<p>E-mail</p>
<p>Password</p>
<p>Rol</p>
<p>Estado</p>




</div>
