<form [formGroup]="form">
  <div class="card">
    <div class="card-header">
      <p style="
    float: left; padding-top:15px ;"><b>Crear Producto</b></p>
      <button type="button" class=" btn btn-danger" (click)="cerrar()"
        style="float:right; align-items: flex-end;margin-left: 15px;"><i class="fas fa-long-arrow-alt-left"></i>
      </button>
      <button (click)="guardar()" type="button" class=" btn btn-success" style="float:right; align-items: flex-end;"><i
          class="fas fa-save" type="button"></i>
      </button>
    </div>
    <div class="card-body" style="margin: auto; width: 100%">
      <div class="horizontal1" style="width: auto; display: flex; flex-direction: row;">
        <mat-form-field style="width: 45%;" appearance="standard" class="search">
          <mat-label>Nombre Del Producto</mat-label>
          <input formControlName="nombreProducto" matInput>
        </mat-form-field>
        <mat-form-field style="margin-left:30px ; width: 50%;" appearance="standard" class="search">
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="txtcategoria">
            <mat-option *ngFor="let op of categoria" [value]="op.idcategorias">
              {{op.idcategorias}}- {{op.nombreCate}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-fab style="margin-left: 5%;    padding-top: 7px;
        margin-top: 19px; background-color: dodgerblue;" id="boton-agregar" (click)="agregarCaracteristica()">
            <mat-icon>add</mat-icon>
          </button>

      </div>
      <ng-container formArrayName="caracteristicas" *ngFor="let c of caracteristicas.controls; let i = index">

        <div [formGroupName]="i" class="horizontal1" style="width: auto; display: flex; flex-direction: row;">
          <mat-form-field style="width: 45%;" appearance="standard" class="search">
            <mat-label>Precio Del Producto</mat-label>
            <input formControlName="precioCaract" matInput>
          </mat-form-field>

          <mat-form-field style="margin-left:30px;width: 50%;" appearance="standard" class="search">
            <mat-label>Cantidad Del Producto</mat-label>
            <input formControlName="cantidCaract" matInput>
          </mat-form-field>

          <mat-form-field style="width: 100%;" appearance="standard" class="search">
            <mat-label>Descripcion Del Producto</mat-label>
            <input formControlName="descriCaract" matInput>
          </mat-form-field>
        </div>
      </ng-container>
      <div class="horizontal1" style="width: auto; display: flex; flex-direction: row;">
        <!--<input accept="image/png,image/jpg,image/jpeg,image/svg" type="file" class="d-none"
          (change)="onPhotoSelected($event)" #photoInput>
        <img (click)="photoInput.click()" style="width: 45%; height:260px;"
          [src]="photoSelected || 'assets/productos/no-imagen.png'" class="img-fluid" alt="No image">
       -->
       <input accept="image/png,image/jpg,image/jpeg,image/svg" type="file" multiple value="select" #selectFile
       (change)="onFileSelected($event)">



      </div>
    </div>
  </div>
</form>
