<div class="caja-principal">
  <h1><strong>Configuracion de Proveedores</strong></h1>
  <div class="caja-contenido">
    <div class="nav-busqueda">
      <mat-form-field style="width:100%" appearance="standard">
        <div class="barra-busqueda">
          <mat-icon>search</mat-icon>
          <input matInput placeholder="Buscar" #input>
        </div>
      </mat-form-field>
    </div>
  </div>
  <p>Campos de Proveedores</p>
  <p>codigo</p>
  <p>nombre de la Empresa</p>
  <p>Direccion</p>
  <p>Email</p>
  <p>Telefono</p>
  <p>Acciones</p>
  <p>------editar------</p>
  <p>------eliminar-----</p>

  <p>Agregar</p>


</div>
