<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Data Print</span>
    <span class="example-spacer"></span>

    <h1>Nombre Admin</h1>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav mode="push" opened="false">

        <mat-divider></mat-divider>
        <button mat-menu-item (click)="sidenav.toggle()" href="/layout/usuario" style="cursor: pointer">
            <mat-icon>home</mat-icon>
            <span>Menu Principal</span>
        </button>
        <button mat-menu-item href="/maestras" style="cursor: pointer">
            <mat-icon>build</mat-icon>
            <span class="full-width">Maestras</span>
        </button>
        <button mat-menu-item href="/maestras" style="cursor: pointer">
            <mat-icon>build</mat-icon>
            <span class="full-width">Maestras</span>
        </button>

    </mat-sidenav>
    <mat-sidenav-content>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
    </mat-sidenav-content>
</mat-sidenav-container>